<form action="/Department/Store">
   
    <div class="mb-3">
        <label for="Name" class="form-label">Department Name</label>
        <input type="Name" class="form-control" id="Name" name="Name">
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Department Description</label>
        <input type="Description" class="form-control" id="Description" name="Description">
    </div>
   
    <button type="submit" class="btn btn-primary">Add Department</button>
</form>